/* ===========================
NAME: Rishi Bidani
ID: 31883125
DATE: 29-06-21
===============================  */
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #474e5d;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 50%;
}

.header {
    text-align: left;
    width: fit-content;
    margin: 1rem auto 2rem auto;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid white;
    color: white;
}

.form-body {
    width: 100%;
    min-height: 45vh;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 3px 3px 5px black;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.form-content {
    padding: 1rem 2rem 0 2rem;
}

.form-heading {
    padding: 1rem 2rem 0 2rem;
}

input[type="text"] {
    padding: 0.2rem 0.1rem;
    margin: 1rem 0;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 3px solid black;
}

button {
    width: 90%;
    padding: 0.5rem 0;
    margin: 1rem 0;
    cursor: pointer;
    border-radius: 0.5rem;
    border: 1px solid black;
    background-color: whitesmoke;
}

button:hover {
    background-color: lightgrey;
}

.text-center {
    text-align: center;
}
/* ═══════════════════════════════════════════════════════════ */

.room-book-status {
    margin: 5vh 0;
    height: fit-content;
}

/* ═══════════════════════════════════════════════════════════ */
@media screen and (max-width: 1000px) {
    input[type="text"] {
        padding: 0.2rem 0.1rem;
        width: 100%;
    }
    main {
        width: 70%;
    }
}

@media screen and (max-width: 750px) {
    main {
        width: 90%;
    }

    .form-content {
        padding: 1rem 1.5rem 0 1.5rem;
    }
}
